<div class="card">
  <%= image_tag "http://image.tmdb.org/t/p/w185#{@show["poster_path"]}" %>

  <h1><%= @show.name %></h1>
  <h3><%= link_to "Homepage", @show.homepage %></h3>
  <p class="text-justify"><%= @show.overview %><p>

  <ul>
    <li>First Air Date: <%= @show.first_air_date %></li>
    <li>Created by: <%= @show["created_by"].map {|creator| creator["name"]}.join ", " %></li>    
    <li> Number of Seasons: <%= @show.number_of_seasons %></li>
    <li> Number of Seasons: <%= @show.number_of_episodes %></li>
  </ul>
</div>
