<!DOCTYPE html>
<html>
  <head>
    <title>Ken's T.V. App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  </head>
  <body>
    <div class="container">  
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a href="/">
          <img src="https://fontmeme.com/permalink/180604/7c8a2c4f604e7375fee796ba1316daa7.png" alt="script-fonts" border="0">
        </a>        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <%= link_to "Home", root_path, class: 'nav-link home' %>
            </li>
            <li class="nav-item">
              <%= link_to "Movies", movies_index_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "About", shows_about_path, class: 'nav-link' %>
            </li>
          </ul>
            <%= form_tag shows_search_path, method: "get", class: "form-inline my-2 my-lg-0" do %>
            <%= text_field_tag :query, nil, placeholder: "Search for a TV show...", required: "required", class: "form-control mr-sm-2" %>
            <%= submit_tag "Search", id: "submit-search", name: nil, class: "btn btn-outline-success my-2 my-sm-0" %>
            <% end %>
        </div>
      </nav>
      
      <%= yield %>
    <div>
  </body>
</html>
